.projects
.pydevproject
.hg
*.hg
.hgignore
./*/.git
./*/*/.git
./*/.hg
./*/*/.hg
*.pyc
*.pyo
*.swp
*~
.oldhg

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox


